html,
body {
  font-family: "futura", sans-serif;
}

#top {
  background-image: url(./../../../public/assets/images/9.png);
  background-size: 100% 100%;
  height: 750px;
}

.container1 {
  margin-top: -250px;
  margin-left: 200px;
}

.buttonstop {
  display: flex;
  flex-direction: row;
}

.smlbutton a {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 15px;
  color: white;
  background-color: #5cc3c6;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 22px;
  margin-right: 50px;
}

.smlbutton:hover a {
  background-color: #5cc2c6e5;
}

.decouvrirbutton a {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 15px;
  color: white;
  background-color: #7a7a7d69;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 22px;
  border: solid #f2f2f2 1px;
}

.decouvrirbutton:hover a {
  background-color: #979797bd;
  color: white;
}

.headertxt p {
  color: white;
  font-size: large;
}

/*no valeurs*/

.nosvaleurs {
  text-align: center;
  font-size: large;
  color: black;
  font-family: "futura", sans-serif;
  margin-top: 100px;
}

.nosactions {
  text-align: center;
  color: #757575;
  font-family: "futura", sans-serif;
}

.iconsandtexts {
  display: flex;
  justify-content: space-between;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.icon1 {
  font-size: 100px;
}

.icon2 {
  font-size: 100px;
}

.icon3 {
  font-size: 100px;
}

.icon4 {
  font-size: 100px;
}

.engagement {
  margin-top: -70px;
  padding: 70px;
}

.engagement:hover {
  background-color: #94dcde;
  border-radius: 5%;
  padding: 70px;
  color: #ffffff;
}

.engagement p {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-top: 20px;
}

.innovation {
  margin-top: -70px;
  padding: 70px;
}

.innovation:hover {
  background-color: #94dcde;
  border-radius: 5%;
  padding: 70px;
  color: #ffffff;
}

.innovation p {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-top: 20px;
}

.exellence {
  margin-top: -70px;
  padding: 70px;
}

.exellence:hover {
  background-color: #94dcde;
  border-radius: 5%;
  padding: 70px;
  color: #ffffff;
}

.exellence p {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-top: 20px;
}

.satisfaction {
  margin-top: -70px;
  padding: 70px;
}

.satisfaction:hover {
  background-color: #94dcde;
  border-radius: 5%;
  padding: 70px;
  color: #ffffff;
}

.satisfaction p {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-top: 20px; 
}

.quote2 {
  justify-content: center;
  text-align: center;
}

.smarttitle {
  color: black;
  margin-top: -20px;
}

.smarttext {
  color: #757575;
  margin-top: 25px;
}

.card:hover .cardtext {
  transition: all 0.3s ease;
  opacity: 1;
  max-height: 40px;
  color: white;
}

/*4 Cards*/
/* eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee   card1    eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee */
.content1 {
  max-width: 2000px;
  max-height: 1000px;
  width: 100%;
  height: 100%;
  padding: 0 4%;
  padding-top: 75px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  max-width: 310px;
  min-width: 200px;
  height: 500px;
  background-color: #292929;
  background-image: url(./../../../public/assets/images/4.jpg);
  background-size: 100% 100%;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  border: 2px solid rgba(7, 7, 7, 0.12);
  font-size: 16px;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon {
  margin: 01 auto;
  max-width: 110px;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.8s ease;
  background-position: 0px;
  background-size: 200px;
}

.material-icons.md-36 {
  font-size: 90px;
}

.cardbutton {
  font-size: 13px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding: 12px 30px;
  display: inline-block;
  border-radius: 22px;
  font-weight: 500;
  transition: all 0.3s;
  margin-top: 300px;
  opacity: 0;
}

.cardtitle {
  margin-top: 60px;
  color: white;
}

.card .cardtext {
  width: 80%;
  margin: 0 auto;
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
  font-weight: 200;
  letter-spacing: 2px;
  opacity: 0;
  max-height: 0;
  transition: all 0.3s ease;
  margin-bottom: -110px;
  font-family: "futura", sans-serif;
}

.card:hover {
  background-image: url(./../../../public/assets/images/4_black.png);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.card:hover .icon {
  color: rgb(20, 224, 81);
  transform: translate(0, -225%);
}

.card:hover .cardbutton {
  opacity: 1;
  color: #292929;
}

.cardbutton:hover a {
  color: black;
  cursor: pointer;
}

.card:hover .cardtext {
  transition: all 0.3s ease;
  opacity: 1;
  max-height: 40px;
}

.card:hover .p .icon {
  background-position: -120px;
  transition: all 0.3s ease;
}

/* eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee    end card1    eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee */
.card2 {
  width: 100%;
  max-width: 310px;
  min-width: 200px;
  height: 500px;
  background-color: #292929;
  background-image: url(./../../../public/assets/images/1.jpg);
  background-size: 100% 100%;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  border: 2px solid rgba(7, 7, 7, 0.12);
  font-size: 16px;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease;
}

.material-icons.md-36 {
  font-size: 90px;
}

.card2 .cardtext {
  width: 80%;
  margin: 0 auto;
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
  font-weight: 200;
  letter-spacing: 2px;
  opacity: 0;
  max-height: 0;
  transition: all 0.3s ease;
  margin-bottom: -110px;
  font-family: "futura", sans-serif;
}

.card2:hover {
  background-image: url(./../../../public/assets/images/1_black.png);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
.card2:hover .icon {
  color: rgb(255, 255, 255);
  transform: translate(0, -210%);
}

.card2:hover .cardbutton {
  opacity: 1;
}
.cardbutton:hover a {
  color: black;
}

.card2:hover .cardtext {
  transition: all 0.3s ease;
  opacity: 1;
  max-height: 40px;
  color: white;
}

.card2:hover .p .icon {
  background-position: -120px;
  transition: all 0.3s ease;
}

.card3 {
  width: 100%;
  max-width: 310px;
  min-width: 200px;
  height: 500px;
  background-color: #292929;
  background-image: url(./../../../public/assets/images/3.jpg);
  background-size: 100% 100%;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  border: 2px solid rgba(7, 7, 7, 0.12);
  font-size: 16px;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease;
}

.icon {
  margin: 0 auto;
  width: 100%;
  height: 80px;
  max-width: 110px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.8s ease;
  background-position: 0px;
  background-size: 200px;
}

.material-icons.md-36 {
  font-size: 90px;
}

.card3 .cardtext {
  width: 80%;
  margin: 0 auto;
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
  font-weight: 200;
  letter-spacing: 2px;
  opacity: 0;
  max-height: 0;
  transition: all 0.3s ease;
  margin-bottom: -110px;
  font-family: "futura", sans-serif;
}

.card3:hover {
  background-image: url(./../../../public/assets/images/3_black.png);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.card3:hover .icon {
  color: rgb(32, 87, 240);
  transform: translate(0, -210%);
}

.card3:hover .cardbutton {
  opacity: 1;
}
.cardbutton:hover a {
  color: black;
}

.card3:hover .cardtext {
  transition: all 0.3s ease;
  opacity: 1;
  max-height: 40px;
  color: white;
}

.card3:hover .p .icon {
  background-position: -120px;
  transition: all 0.3s ease;
}

.card4 {
  width: 100%;
  max-width: 310px;
  min-width: 200px;
  height: 500px;
  background-color: #292929;
  background-image: url(./../../../public/assets/images/2.jpg);
  background-size: 100% 100%;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  border: 2px solid rgba(7, 7, 7, 0.12);
  font-size: 16px;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease;
}

.icon {
  margin: 0 auto;
  width: 100%;
  height: 80px;
  max-width: 110px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.8s ease;
  background-position: 0px;
  background-size: 200px;
}

.material-icons.md-36 {
  font-size: 90px;
}

.card4 .cardtext {
  width: 80%;
  margin: 0 auto;
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
  font-weight: 200;
  letter-spacing: 2px;
  opacity: 0;
  max-height: 0;
  transition: all 0.3s ease;
  margin-bottom: -110px;
  font-family: "futura", sans-serif;
}

.card4:hover {
  background-image: url(./../../../public/assets/images/2_black.png);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
.card4:hover .icon {
  color: rgb(88, 89, 90);
  transform: translate(0, -210%);
}

.card4:hover .cardbutton {
  opacity: 1;
}
.cardbutton:hover a {
  color: black;
}

.card4:hover .cardtext {
  transition: all 0.3s ease;
  opacity: 1;
  max-height: 40px;
  color: white;
}

.card4:hover .p .icon {
  background-position: -120px;
  transition: all 0.3s ease;
}

/*Pourquoi nous?*/
.why {
  background-color: black;
  width: 1530px;
  height: 520px;
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.imagewhy {
  width: 500px;
  margin-left: 200px;
}

.textwhy h1 {
  color: white;
  padding-left: 150px;
}

.textwhy p {
  padding-left: 150px;
  color: lightgray;
}

.textwhy ul {
  padding-left: 150px;
  color: lightgray;
}
/* eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee     expertise cards     eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
.cardscontainer {
  display: flex;
  align-items: center;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.content2 {
  margin-left: 150px;
  margin-top: 50px;
}

.expertisetitle h1 {
  text-align: center;
  color: black;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  font-family: "futura", sans-serif;
  margin-top: 56.7px;
}

.cardscolumns1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cardscolumns2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.expertisecard {
  width: 300px;
  height: 400px;
  max-width: 310px;
  min-width: 200px;
  margin: 30px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  border: 2px solid rgba(7, 7, 7, 0.12);
  font-size: 16px;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease;
  margin-top: 50px;
}

.expertisecardtitle {
  margin-top: 50px;
}

.expertisecard:hover {
  background-color: #f7f8ff;
  cursor: default;
}

.expertisecard:hover .expertisecardinside {
  margin-bottom: 200px;
  transition: all 0.8s ease;
}

.expertisecard:hover .expertisecardtitle {
  margin-top: 0px;
}

.expertisecard:hover .expertisecardbutton1 {
  opacity: 1;
}

.expertiseicon1 {
  margin: 0 auto;
  width: 100%;
  height: 80px;
  max-width: 110px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #586ce7;
  transition: all 0.8s ease;
  background-position: 0px;
  background-size: 200px;
  font-size: 500px;
}
.expertiseicon2 {
  margin: 0 auto;
  width: 100%;
  height: 80px;
  max-width: 110px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f1a9e4;
  transition: all 0.8s ease;
  background-position: 0px;
  background-size: 200px;
  font-size: 500px;
}

.expertiseicon3 {
  margin: 0 auto;
  width: 100%;
  height: 80px;
  max-width: 110px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #68c963;
  transition: all 0.8s ease;
  background-position: 0px;
  background-size: 200px;
  font-size: 500px;
}

.expertiseicon4 {
  margin: 0 auto;
  width: 100%;
  height: 80px;
  max-width: 110px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ef885a;
  transition: all 0.8s ease;
  background-position: 0px;
  background-size: 200px;
  font-size: 500px;
}

.expertiseicon5 {
  margin: 0 auto;
  width: 100%;
  height: 80px;
  max-width: 110px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #248726;
  transition: all 0.8s ease;
  background-position: 0px;
  background-size: 200px;
  font-size: 500px;
}

.expertiseicon6 {
  margin: 0 auto;
  width: 100%;
  height: 80px;
  max-width: 110px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e082f0;
  transition: all 0.8s ease;
  background-position: 0px;
  background-size: 200px;
  font-size: 500px;
}

.iconbox {
  background-color: #f7f8ff;
  height: 100px;
  border-radius: 10px;
  max-width: 130px;
  height: 110px;
  margin-left: 80px;
  margin-top: 150px;
}

.expertisecardinside {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
}

.expertisecardbutton1 {
  font-size: 13px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding: 12px 30px;
  display: inline-block;
  border-radius: 22px;
  font-weight: 500;
  transition: all 0.3s;
  opacity: 0;
  width: 150px;
  height: 50px;
  margin-left: 70px;
  margin-top: 10px;
  box-shadow: 4px 10px 20px 1px rgba(0, 0, 0, 0.35);
}

.expertisecardnote1 {
  opacity: 0;
}

.expertisecard:hover .expertisecardnote1 {
  opacity: 1;
}

/* eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee     end expertise cards     eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/

/* join our team */

.jointeam {
  background-image: url(../../../public//assets/images/11_black.png);
  width: 1520px;
  height: 425px;
  margin-top: 60px;
}

.joininside {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-top: 80px;
}

.jointitle {
  color: white;
}
.joinnote {
  color: white;
  padding-top: 60px;
}

.joinbutton a {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 15px;
  color: white;
  background-color: #5cc3c6;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 22px;
  transition: all 0.3s;
  margin-top: 80px;
}

.joinbutton:hover a {
  background-color: #5cc2c6da;
}

/*Slideshow*/

.references {
  height: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 100px;
}

.slidecontainer {
  margin: 0 auto;
  padding: 0px 40px 40px 40px;
  width: 1000px;
}
.slidecontainer h2 {
  background: #5f9ea0;
  color: #fff;
  font-size: 36px;
  line-height: 100px;
  margin: 10px;
  padding: 2%;
  position: relative;
  text-align: center;
}
.slick-next:before,
.slick-prev:before {
  color: #000;
}

.wsalogo {
  margin-top: 30px;
}

.Germanlogo {
  margin-top: 50px;
}

/* Footer */

.about {
  background-color: #000;
  width: 100%;
  height: 410px;
}

.aboutup {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
  max-height: 70%;
}

.aboutdown {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
  max-height: 30%;
}

.solutions {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  margin-top: 50px;
  margin-right: 30px;
}

.solutions h5 {
  color: #cbcbcb;
}

.produits {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  margin-top: 50px;
  margin-right: 30px;
}

.produits h5 {
  color: #cbcbcb;
}

.espace {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  margin-top: 50px;
  margin-right: 30px;
}

.espace h5 {
  color: #cbcbcb;
}

.apropos {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  margin-top: 50px;
  margin-right: 30px;
}

.apropos h5 {
  color: #cbcbcb;
}

.nous_contacter {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin-top: 50px;
  margin-right: 30px;
}

.nous_contacter h5 {
  color: #cbcbcb;
}

.nous_contacter h6 {
  color: #cbcbcb;
}

.about hr {
  color: white;
  height: 2px;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 20px;
}

.contactbutton a {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 15px;
  color: white;
  background-color: #5cc3c6;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 22px;
}

.adressetext {
  color: #3e4246;
}

.email {
  display: flex;
  flex-direction: row;
}

.emaillink {
  margin-left: 6px;
}

.telephone {
  display: flex;
  flex-direction: row;
}

.telephonenumber {
  margin-left: 6px;
  color: #3e4246;
}

.telephonenumber:hover {
  margin-left: 6px;
  color: #94dcde;
}

.newsletter {
  display: flex;
  flex-direction: column;
  max-width: 380px;
  margin-top: 50px;
}

.newsletter_inside {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.newsletter_input::placeholder {
  font-size: 13px;
  width: 200px;
}

.newsletter_input:focus::placeholder {
  color: transparent;
}

.newsletter_input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 100px;
  padding: 10px 100px 10px 20px;
  line-height: 1;
  box-sizing: border-box;
  outline: none;
}

.newsletter h5 {
  color: #cbcbcb;
}

.sincrirebutton {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  color: white;
  background-color: #5cc3c6;
  padding: 12px 30px;
  border-radius: 25px;
  margin-left: 30px;
}

/* terms */

.terms {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-top: 35px;
}

.copyright {
  color: #535353;
}

.terms a {
  color: #919191;
}

.tandc:hover a {
  color: #37adf1;
}

.policy:hover a {
  color: #37adf1;
}

.cookies:hover a {
  color: #37adf1;
}

.terms .tandc {
  margin-left: 5px;
}

.terms .policy {
  margin-left: 5px;
}

.terms .cookies {
  margin-left: 5px;
}

/* follow us */

.followus {
  display: flex;
  flex-direction: row;
  margin-left: 150px;
  margin-top: 30px;
  color: #cbcbcb;
}

.iconsfollow {
  margin-left: 122px;
  font-size: large;
  display: flex;
  flex-direction: row;
}
.iconsfollow a {
  color: white;
  margin: 3px;
}

.instagram:hover a {
  color: #5cc3c6;
}

.linkedin:hover a {
  color: #5cc3c6;
}

.facebook:hover a {
  color: #5cc3c6;
}
